/* CSS declarations go here */
[name=mentorshipItem]{
    border:none;
    font-family: "Times New Roman";
    font-size: 100%;
    padding:0.15em;
}

[name=mentorshipItem]:hover{
	background-color: #f9f9f9;
    cursor:pointer;
}

[name=mentorshipItem]:focus{
    background-color: #00f9f9;
    cursor:default;
    outline:none;
}